.flex-container{
    background-color: burlywood;
    display: flex;
    height: 500px;
    width: 500px;
    position: relative;
}
.red{
    background-color: red;
    height: 100px;
    width:100px;
}
.blue{
    background-color: blue;
    height: 100px;
    width: 100px;
    position: fixed;
    right: 0px;
}
.yellow{
    background-color: yellow;
    height: 100px;
    width: 100px;
}
